.about-root{
    padding: 20px;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.flex-item{
    border: 1px solid;
    padding: 10px;
    border-radius:10px;
    box-shadow: 2px 5px 5px rgba(0,0,0,0.4);
}