

.login-submit-container{
    display: flex;
    gap: 10px;
}

.form-login-button{
    padding: 8px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.5);
    width: 100px;
    background-color: rgb(246, 249, 248);
    text-transform: uppercase ;
}

.form-signup-button{
    padding: 8px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.5);
    width: 100px;
    background-color: rgb(246, 249, 248);
    text-transform: uppercase ;
}


.form-login-button:active .form-singup-button:active{
    box-shadow: none;
    background-color: black;
    color: white;
}