.root-home{
    display: flex;
    align-items: center;
    padding: 20px;
}

.left-side{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
}

.left-label{
    font-family: 'Poppins', sans-serif;
}
.right-side{
    display: flex;
    padding: 20px;
}

.right-side-image{
    width: 100%;
}

@media only screen and (max-width:760px) {
    .root-home{
        flex-direction:column;
    }
    .left-side{
        text-align: center;
    }
}